<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>quanghung.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryController</servlet-name>
        <servlet-class>duonght.controller.CreateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListWarehouseController</servlet-name>
        <servlet-class>duonght.controller.GetListWarehouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWarehouseController</servlet-name>
        <servlet-class>duonght.controller.UpdateWarehouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateWarehouseController</servlet-name>
        <servlet-class>duonght.controller.CreateWarehouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWarehouseController</servlet-name>
        <servlet-class>duonght.controller.DeleteWarehouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchWarehouseController</servlet-name>
        <servlet-class>duonght.controller.SearchWarehouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListCategoryController</servlet-name>
        <servlet-class>duonght.controller.GetListCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>duonght.controller.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>duonght.controller.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDescriptionController</servlet-name>
        <servlet-class>duonght.controller.CreateDescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDetailController</servlet-name>
        <servlet-class>duonght.controller.CreateDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailController</servlet-name>
        <servlet-class>duonght.controller.UpdateDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDetailController</servlet-name>
        <servlet-class>duonght.controller.DeleteDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDescriptionController</servlet-name>
        <servlet-class>duonght.controller.DeleteDescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryController</servlet-name>
        <servlet-class>duonght.controller.SearchCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDeviceController</servlet-name>
        <servlet-class>quanghung.controller.CreateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeviceController</servlet-name>
        <servlet-class>quanghung.controller.SearchDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListController</servlet-name>
        <servlet-class>quanghung.controller.GetListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputDeviceInfoController</servlet-name>
        <servlet-class>quanghung.controller.InputDeviceInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceController</servlet-name>
        <servlet-class>quanghung.controller.UpdateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceDetailController</servlet-name>
        <servlet-class>quanghung.controller.UpdateDeviceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeviceController</servlet-name>
        <servlet-class>quanghung.controller.DeleteDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>duonght.LoginGoogle.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllAccount</servlet-name>
        <servlet-class>quanghung.controller.getAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>duonght.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountStatusServlet</servlet-name>
        <servlet-class>duonght.controller.UpdateAccountStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>duonght.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByIDServlet</servlet-name>
        <servlet-class>duonght.controller.SearchByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllRequestManagement</servlet-name>
        <servlet-class>quanghung.controller.LoadAllRequestManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSearchDeviceController</servlet-name>
        <servlet-class>quanghung.controller.HomeSearchDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>quanghung.controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImgController</servlet-name>
        <servlet-class>quanghung.controller.UpdateImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenUpdateImgPageController</servlet-name>
        <servlet-class>quanghung.controller.OpenUpdateImgPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestController</servlet-name>
        <servlet-class>quanghung.controller.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRequestController</servlet-name>
        <servlet-class>quanghung.controller.LoadRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>duonght.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterDeviceController</servlet-name>
        <servlet-class>quanghung.controller.FilterDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBrandController</servlet-name>
        <servlet-class>duonght.controller.CreateBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrandController</servlet-name>
        <servlet-class>duonght.controller.UpdateBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBrandController</servlet-name>
        <servlet-class>duonght.controller.DeleteBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputCategoryDeviceInfoController</servlet-name>
        <servlet-class>quanghung.controller.InputCategoryDeviceInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceCategoryController</servlet-name>
        <servlet-class>quanghung.controller.UpdateDeviceCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceDetailCategoryController</servlet-name>
        <servlet-class>quanghung.controller.UpdateDeviceDetailCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>quanghung.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRequestController</servlet-name>
        <servlet-class>quanghung.controller.CreateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemInCartController</servlet-name>
        <servlet-class>quanghung.controller.DeleteItemInCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>quanghung.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtendRequestController</servlet-name>
        <servlet-class>quanghung.controller.ExtendRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoUpdateExtend</servlet-name>
        <servlet-class>quanghung.controller.AutoUpdateExtend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryController</servlet-name>
        <url-pattern>/CreateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListWarehouseController</servlet-name>
        <url-pattern>/GetListWarehouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWarehouseController</servlet-name>
        <url-pattern>/UpdateWarehouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateWarehouseController</servlet-name>
        <url-pattern>/CreateWarehouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWarehouseController</servlet-name>
        <url-pattern>/DeleteWarehouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchWarehouseController</servlet-name>
        <url-pattern>/SearchWarehouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListCategoryController</servlet-name>
        <url-pattern>/GetListCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/UpdateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/DeleteCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDescriptionController</servlet-name>
        <url-pattern>/CreateDescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDetailController</servlet-name>
        <url-pattern>/CreateDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailController</servlet-name>
        <url-pattern>/UpdateDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDetailController</servlet-name>
        <url-pattern>/DeleteDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDescriptionController</servlet-name>
        <url-pattern>/DeleteDescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryController</servlet-name>
        <url-pattern>/SearchCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDeviceController</servlet-name>
        <url-pattern>/CreateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeviceController</servlet-name>
        <url-pattern>/SearchDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListController</servlet-name>
        <url-pattern>/GetListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputDeviceInfoController</servlet-name>
        <url-pattern>/InputDeviceInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceController</servlet-name>
        <url-pattern>/UpdateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceDetailController</servlet-name>
        <url-pattern>/UpdateDeviceDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeviceController</servlet-name>
        <url-pattern>/DeleteDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/LoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllAccount</servlet-name>
        <url-pattern>/getAllAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountStatusServlet</servlet-name>
        <url-pattern>/UpdateAccountStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByIDServlet</servlet-name>
        <url-pattern>/SearchByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllRequestManagement</servlet-name>
        <url-pattern>/LoadAllRequestManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSearchDeviceController</servlet-name>
        <url-pattern>/HomeSearchDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImgController</servlet-name>
        <url-pattern>/UpdateImgController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenUpdateImgPageController</servlet-name>
        <url-pattern>/OpenUpdateImgPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestController</servlet-name>
        <url-pattern>/UpdateRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRequestController</servlet-name>
        <url-pattern>/LoadRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterDeviceController</servlet-name>
        <url-pattern>/FilterDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBrandController</servlet-name>
        <url-pattern>/CreateBrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrandController</servlet-name>
        <url-pattern>/UpdateBrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBrandController</servlet-name>
        <url-pattern>/DeleteBrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputCategoryDeviceInfoController</servlet-name>
        <url-pattern>/InputCategoryDeviceInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceCategoryController</servlet-name>
        <url-pattern>/UpdateDeviceCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceDetailCategoryController</servlet-name>
        <url-pattern>/UpdateDeviceDetailCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRequestController</servlet-name>
        <url-pattern>/CreateRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemInCartController</servlet-name>
        <url-pattern>/DeleteItemInCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtendRequestController</servlet-name>
        <url-pattern>/ExtendRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoUpdateExtend</servlet-name>
        <url-pattern>/AutoUpdateExtend</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
